server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/librarydev2
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      pool-name: HikariTestPool

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB
      file-size-threshold: 2KB

cloudinary:
  cloud-name: diqhmct8x
  api-key: 882975888995683
  api-secret: pPe_4nsUGrKbyLBBl4q4gAPPnY4
  folder: library/books/

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

open:
  api:
    serverName: "Server TEST"
    serverUrl: "http://localhost:${server.port}"
    description: "API for TEST / sandbox environment"
    title: "API Library Document"
    version: "1.0.0"

logging:
  level:
    com.project.library.service.impl.CloudinaryServiceImpl: DEBUG
    com.cloudinary: INFO
